<app-account>Chargement...</app-account>
<div class="alert alert-danger" *ngIf="error">{{message}}</div>
<div class="container">
  <div class="row">
    <div class="card col-lg-3 col-md-5 offset-lg-1 offset-md-1 col-10 offset-1 mb-2"
         *ngFor="let livre of collection; index as i">
      <div class="card-body">
        <h5 class="card-title">{{livre.nom}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{livre.auteur}}</h6>
        <p class="small font-italic text-right red">{{livre.categorie}}</p>
        <p class=", QUANTITE">{{livre.resume}}</p>
        <p class="card-text">{{livre.maisonEdition.nom}}</p>
        <p class="card-text">{{livre.quantite}} exemplaires restants</p>
        <div class="mb-0 text-right">
          <button class="btn btn-primary" *ngIf="livre.quantite > 0" (click)="addToPanier(livre)">Ajouter au panier
          </button>
        </div>
      </div>
      <div class="bg-danger text-white" *ngIf="isAllowed(i)">
        Ce livre est actuellement sur liste d'attente <br>
        Date de retour la plus proche : {{getDate(livre.id)}}
        <br>
        Nombre de personnes ayant réservés l'ouvrage : {{getNombrePersonne(livre.id)}}
        <button class="btn btn-primary" *ngIf="isAllowed(i)" (click)="addToWaiting(livre)">
          Ajouter à la liste d'attente
        </button>
      </div>
    </div>
  </div>
</div>

